body, html {
  height: 100%;
}

body {
  background-color: rgb(237, 227, 227)
(83, 79, 74);

}
 
  img{
    image-orientation: inherit;
  }
  

  a{
    color: rgb(234, 145, 190);
  }
   header{
    color: rgb(234, 145, 190);
   }

   div{
    color: rgb(234, 145, 190);
   }